/**
* Sections
*/

html {
    background-color: #f8fcee;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #eff4e2;
    box-sizing: border-box;
    color: #777;
    font-size: 14px;
    margin: 0 auto;
    max-width: 982px;
    min-height: 100%;
    min-width: 256px;
    padding: 33px 18px;
}

h1 {
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

a {
    color: #777;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.btn-panel {
    cursor: default;
    font-family: 'Noto Sans', Arial, sans-serif;
    margin: 35px auto;
    max-width: 750px;
    display: flex;
}

.topic-badge {
    background-color: #fcfcfc;
    border-radius: 100px;
    border: 4px solid #e6e6e6;
    color: #5a8f79;
    display: inline-block;
    font-size: 48px;
    line-height: 0;
    margin: 0 20px 20px;
    padding: 16px;
}

.topic-badge:first-child {
    margin-left: 0;
}

.topic-badge:last-child {
    margin-right: 0;
}

/**
 * Fonts
 */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../modules/noto-sans/noto-sans.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../modules/noto-sans/noto-sans-bold.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../../modules/noto-sans/noto-sans-italic.woff2')
       format('woff2');
}

/**
 * Buttons
 */

.btn {
    color: #fff;
    font-weight: 600;
    margin-right: 15px;
    padding: 11px 17px;
    text-decoration: none;
    text-align: center;
}

.btn-gitlab {
    background-color: #24292e;
}

.btn-gitlab:hover {
    background-color: #42474c;
}

.btn-website {
    background-color: #007bbd;
}

.btn-website:hover {
    background-color: #00679e;
}

.btn-donate {
    background-color: #f7931a;
}

.btn-donate:hover {
    background-color: #f58700;
}

.btn-author {
    background-color: #00bd7f;
}

.btn-author:hover {
    background-color: #009e69;
}

/**
 * Miscellaneous
 */

.notice {
    align-items: center;
    font-family: 'Noto Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    text-align: left;
}

.logo {
    display: block;
    height: 145px;
    margin: 15px auto 50px;
}

.subtle-hint {
    background-color: #fcfcfc;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 8px 11px;
}

.inherit {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
}

.topic-label {
    color: #5a8f79;
    font-style: normal;
    font-weight: bold;
}

.color-purple {
    color: #9e608e;
}

.uncle-sam,
.we-need-you-title {
	margin-left: auto;
	margin-right: auto;
    text-align: center;
	display: block;
}

.uncle-sam {
    display: block;
}

.we-need-you-declaration {
    color: #777;
    font-weight: normal;
    text-align: center;
}

/**
 * Media Queries
 */

@media screen and (max-width: 982px) {

    body {
        box-shadow: none;
    }
}

@media screen and (max-width: 550px) {

    .btn {
        padding: 13px 18px 12px
    }

    .btn-text {
        display: none
    }
}
