/**
 * Sections
 */

body {
    background-color: #f0f0f0;
    color: #555;
    cursor: default;
    font-family: 'Noto Sans', Arial, sans-serif !important;
    font-size: 75%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 15px 0px 15px;
    max-width: 348px;
}

header {
    align-items: center;
    border-bottom: solid #d3d3d3 1px;
    display: flex;
    position: relative;
    padding: 8px 0px 0px 4px;
}

.panel {
    overflow: hidden;
}

.subpanel {
    padding-top: 8px;
    overflow: hidden;
}

.subpanel:last-child {
    border-bottom: solid #d3d3d3 1px;
    padding-bottom: 4px;
}

footer {
    overflow: hidden;
    padding: 8px 0px;
}

#more-injections-section {
    font-weight: bold;
    padding: 0px 8px;
}

/**
 * Fonts
 */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../modules/noto-sans/noto-sans.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../modules/noto-sans/noto-sans-bold.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../../modules/noto-sans/noto-sans-italic.woff2')
       format('woff2');
}

/**
 * Headings
 */

.heading {
    font-size: 14px;
    font-weight: 600;
    padding-left: 0;
    width: 100%;
}

.subheading {
    font-weight: 600;
    margin-bottom: 2px;
    text-align: center;
}

/**
 * Lists
 */

.list {
    margin: 0;
    padding: 8px 0 0;
}

.list-item {
    background-color: #f7f7f7;
    border: 1px solid #e4e4e4;
    color: #737373;
    font-weight: 600;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.sublist {
    align-items: center;
    background-color: #ececec;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0 2px 10px #e2e2e2;
    list-style: none;
    padding-left: 8px;
    padding: 0;
}

.sublist:last-child {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0px;
}

.sublist-item {
    border-bottom: 1px solid #e0e0e0;
    color: #737373;
    font-weight: 600;
    padding: 10px;
}

.sublist-item:last-child {
    border-bottom: none;
}

#get-more-injections-btn {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #737373;
    font-weight: 600;
}

#get-more-injections-btn:hover {
    color: #a3a3a3;
    text-decoration: underline;
}

/**
 * Icons
 */

.icon {
    margin-right: 6px;
}

.icon-logo {
    height: 26px;
    padding: 5px 6px 5px 8px;
    width: 26px;
}

/**
 * Buttons
 */

.button {
    -moz-user-select: none;
    user-select: none;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
    color: #5f5f5f;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 5px 22px;
}

.button:hover {
    background-color: #fff;
}

.button:active {
    background-color: #dedede;
}

.button-toggle {
    border-color: #d8d8d8;
    color: #bbb;
}

.button-toggle.active {
    border-color: #cfcfcf;
    color: #339a6f;
}

#donate-button {
    -moz-user-select: none;
    user-select: none;
    color: #5f5f5f;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 5px;
}

#donate-button:hover {
    transform: scale(1.3);
}

#options-button-svg, #donate-button-svg {
    background-size: cover;
    width: 15px;
    height: 15px;
}

#options-button-svg {
    background-image: url("../../icons/settings-dark.svg");
}

#donate-button-svg {
    background-image: url("../../icons/donate.svg");
}

#protection-toggle, #manipulateDOM-toggle {
  -moz-user-select: none;
  cursor: pointer;
  float: right;
  user-select: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider, .slider-disabled {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b40000;
  -webkit-transition: .1s;
  transition: .1s;
  border-radius: 34px;
}

.slider:before, .slider-disabled:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: #f9f9fa;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #6bb798;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider-disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

#manipulateDOM-indicator {
    display: inline-block;
    cursor: pointer;
    background-image: url("../../icons/info-dark.svg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 20px;
}

#manipulateDOM-indicator:hover {
    color: #777;
    text-decoration: underline;
}

#info-button-svg {
    background-image: url("../../icons/info-dark.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
}

/**
 * Links
 */

.link-text {
    color: #bdbdbd;
    cursor: pointer;
    float: left;
    font-size: 13px;
    padding-left: 4px;
    padding-top: 5px;
    text-decoration: none;
}

.link-text:hover {
    color: #777;
    text-decoration: underline;
}

/**
 * Miscellaneous
 */

.badge {
    background-color: #6bb798;
    border-radius: 10px;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    font-weight: 600;
    margin-right: 8px;
    padding: 3px 15px;
}

.counter {
    font-size: 36px;
    font-weight: 600;
    margin-top: 4px;
    text-align: center;
}

.description {
    color: #777;
    font-style: italic;
    margin: 0 6px;
    text-align: center;
}

.hidden {
    display: none;
}

.label-version {
    color: #6aac91;
    font-size: 9px;
}

.label-domain {
    color: #bbb;
    display: flex;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
}

.side-note {
    color: #a5a5a5;
    font-style: italic;
    font-weight: 400;
}

/**
 * Compatibility
 */

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    body {
        width: 348px;
    }
}

@media (prefers-color-scheme: dark) {

    /**
     * Sections
     */

    body {
        background-color: #404040;
        color: #bbb;
    }

    header {
        border-bottom-color: #292929;
    }

    /**
     * Lists
     */

    .list-item {
        background-color: #484848;
        border-color: #292929;
        color: #f0f0f0;
    }

    .sublist {
        background-color: #323232;
        border-color: #292929;
        box-shadow: inset 0 2px 10px #292929;
    }

    .sublist:last-child {
        border-bottom-color: #292929;
    }

    .sublist-item {
        border-bottom-color: #2c2c2c;
        color: #f0f0f0;
    }

    .subpanel:last-child {
        border-bottom: solid #292929 1px;
    }

    /**
     * Buttons
     */

    .button {
        background-color: #3c3c3c;
        border-color: #323232;
        color: #bbb;
    }

    .button:hover {
        background-color: #434343;
    }

    .button:active {
        background-color: #393939;
    }

    .button-toggle {
        border-color: #363636;
        color: #636363;
    }

    .button-toggle.active {
        border-color: #323232;
    }

    #options-button-svg {
        background-image: url("../../icons/settings-light.svg");
    }

    input:checked + .slider {
		background-color: #6bb798;
    }

    .slider {
		background-color: #b54b4b;
    }

    .slider:before {
		background-color: #323232;
    }

    .slider-disabled {
        background-color: #777;
        cursor: not-allowed;
    }

    .slider-disabled:before {
        background-color: #323232;
    }

    #info-button-svg {
        background-image: url("../../icons/info-light.svg");
    }

    #get-more-injections-btn {
        cursor: pointer;
        background-color: #404040;
        color: #bbb;
        font-weight: 600;
    }

    #get-more-injections-btn:hover {
        color: #fff;
        text-decoration: underline;
    }

    /**
     * Links
     */

    .link-text {
        color: #7d7d7d;
    }

    .link-text:hover {
        color: #dadada;
    }

    /**
     * Miscellaneous
     */

    .badge {
        color: #2d5042;
    }

    .description {
        color: #dadada;
    }

    .label-domain {
        color: #717171;
    }

    .panel:not(:last-child) {
        border-bottom-color: #292929;
    }

    .side-note {
        color: #888;
    }
}
