/**
 * Donations
 */

 #table-bank-transfer {
     font-family: 'monospace', 'Consolas', Arial, sans-serif;
     padding: 16px;
 }
 #table-bank-transfer > tbody > tr > td:nth-of-type(1) {
     font-weight: bold;
 }
